@charset "UTF-8";

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-loop:before {
  content: "\e900";
}

._icon-arrow-right:before {
  content: "\e901";
}

._icon-arrows:before {
  content: "\e902";
}

._icon-calendar:before {
  content: "\e903";
}

._icon-Cart:before {
  content: "\e904";
}

._icon-copy:before {
  content: "\e905";
}

._icon-facebook:before {
  content: "\e906";
}

._icon-iakor:before {
  content: "\e907";
}

._icon-insta:before {
  content: "\e908";
}

._icon-logo:before {
  content: "\e909";
}

._icon-mail:before {
  content: "\e90a";
}

._icon-star:before {
  content: "\e90b";
}

._icon-telegramm:before {
  content: "\e90c";
}

._icon-Ticket-converted:before {
  content: "\e90d";
}

._icon-users:before {
  content: "\e90e";
}

._icon-vk:before {
  content: "\e90f";
}

._icon-whatsapp:before {
  content: "\e910";
}

._icon-youtube:before {
  content: "\e911";
}

._icon-zarrow-control-converted:before {
  content: "\e912";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Gilroy";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 87rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.cirkle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.2;
}

.button {
  font-size: 1.125rem;
  line-height: 1.3333333333;
  color: white;
  background: #BF5002;
  padding: 16px 32px;
  border-radius: 10px;
}

.dots {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dots .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #BF5002;
  opacity: 0.5;
  border-radius: 50%;
  margin: 0px 0.625rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.dots .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  opacity: 1;
}

.arrows {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50%;
  z-index: 5;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.arrow {
  pointer-events: auto;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
  position: relative;
}

.arrow:first-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow::before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #BF5002;
}

.header {
  position: relative;
}

.header__mobilebg {
  padding-bottom: 122.5%;
}

.header__slider {
  position: relative;
}

.header__pagination-swiper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 16px;
}

.header__pagination-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 0.5;
  background-color: white;
  border-radius: 50%;
}

.header__pagination-swiper .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  opacity: 1;
}

.header__slide-img {
  padding-bottom: 34.1666666667%;
}

.header__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 8px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.7142857143;
}

.header__midle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25rem;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-top__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.header-top__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  color: #666F78;
}

.header-top__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pages-top a {
  border-radius: 5px;
  padding: 4px 8px;
}

.pages-top__link_bg-green {
  background: rgba(94, 158, 2, 0.1);
}

.pages-top__link_color-green {
  color: #5E9E02;
}

.pages-top__link_bg-blue {
  background: rgba(2, 64, 158, 0.1);
}

.pages-top__link_color-blue {
  color: #02409E;
}

.pages-top__link_bg-orange {
  background: #BF5002;
}

.pages-top__link_color-white {
  color: #FFFFFF;
}

.pages-top__link_bg-pink {
  background: rgba(157, 37, 164, 0.1);
}

.pages-top__link_color-pink {
  color: #9D25A4;
}

.pages-top__link_bg-white {
  background: rgba(248, 164, 5, 0.1);
}

.pages-top__link_color-orange {
  color: #F8A405;
}

.contacts-header-top span {
  margin-right: 36px;
  color: #666F78;
}

.contacts-header-top__link {
  margin-right: 16px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  color: #3E4449;
}

.contacts-header-top__social:not(:last-child) {
  margin-right: 13px;
}

.milde-header__logo {
  z-index: 5;
}

@supports (width: clamp( 7.029375rem , 4.3457582622rem  +  5.5837431148vw , 11.04625rem )) {
  .milde-header__logo img {
    width: clamp( 7.029375rem , 4.3457582622rem  +  5.5837431148vw , 11.04625rem );
  }
}

@supports not (width: clamp( 7.029375rem , 4.3457582622rem  +  5.5837431148vw , 11.04625rem )) {
  .milde-header__logo img {
    width: calc(7.029375rem + 4.016875 * (100vw - 48.06125rem) / 71.93875);
  }
}

.milde-header__body {
  width: 100%;
  margin-top: 16px;
}

.milde-header__list {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  line-height: 1.7777777778;
}

@supports (font-size: clamp( 0.875rem , 0.8024047187rem  +  0.3629764065vw , 1.125rem )) {
  .milde-header__list {
    font-size: clamp( 0.875rem , 0.8024047187rem  +  0.3629764065vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8024047187rem  +  0.3629764065vw , 1.125rem )) {
  .milde-header__list {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 68.875);
  }
}

.milde-header__item {
  position: relative;
}

.milde-header__item:hover .milde-header__sublist {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.milde-header__item:not(:last-child) {
  margin-right: 0.9375rem;
}

.milde-header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-right: 16px;
}

.milde-header__button::after {
  content: "❯";
  font-size: 1.5rem;
  color: #E6E6E6;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.milde-header__button._spoller-active::after {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.milde-header__sublist {
  background: #FBF3ED;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 8px 0px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  pointer-events: none;
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

.milde-header__shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.milde-header__shops-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.milde-header__shops-item a {
  font-weight: 500;
  margin-left: 5px;
}

.milde-header__shops-item:not(:last-child) {
  margin-right: 1.5625rem;
}

.milde-header__cart::before {
  font-weight: 600;
}

.bottom-header {
  line-height: 1.5;
  background-color: #fff;
  border-radius: 10px;
}

.bottom-header__transfer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding-left: 16px;
}

@supports (width: clamp( 12.5rem , 8.4670967042rem  +  8.4128360798vw , 18.5625rem )) {
  .bottom-header__transfer {
    width: clamp( 12.5rem , 8.4670967042rem  +  8.4128360798vw , 18.5625rem );
  }
}

@supports not (width: clamp( 12.5rem , 8.4670967042rem  +  8.4128360798vw , 18.5625rem )) {
  .bottom-header__transfer {
    width: calc(12.5rem + 6.0625 * (100vw - 47.9375rem) / 72.0625);
  }
}

.bottom-header__human {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  -webkit-box-shadow: inset 1px 0px 0px #E3E1E1;
          box-shadow: inset 1px 0px 0px #E3E1E1;
}

@supports (width: clamp( 21.875rem , 18.8333993412rem  +  6.336750549vw , 26.4375rem )) {
  .bottom-header__human {
    width: clamp( 21.875rem , 18.8333993412rem  +  6.336750549vw , 26.4375rem );
  }
}

@supports not (width: clamp( 21.875rem , 18.8333993412rem  +  6.336750549vw , 26.4375rem )) {
  .bottom-header__human {
    width: calc(21.875rem + 4.5625 * (100vw - 47.999375rem) / 72.000625);
  }
}

.bottom-header__book {
  border-radius: 0 10px 10px 0;
}

.transfer__calendar {
  margin-right: 8px;
}

.human__logo {
  margin-right: 8px;
}

.human__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.human__arrow {
  padding-right: 16px;
  color: #BF5002;
}

.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

._pb {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding-bottom: 0 !important;
}

.icon-menu {
  display: none;
}

@supports (padding-top: clamp( 2rem , 1.7459165154rem  +  1.2704174229vw , 2.875rem )) {
  .footer__container {
    padding-top: clamp( 2rem , 1.7459165154rem  +  1.2704174229vw , 2.875rem );
  }
}

@supports not (padding-top: clamp( 2rem , 1.7459165154rem  +  1.2704174229vw , 2.875rem )) {
  .footer__container {
    padding-top: calc(2rem + 0.875 * (100vw - 20rem) / 68.875);
  }
}

.footer__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__bottom {
  margin-top: 2.0625rem;
}

.top-footer__item:not(:last-child) {
  padding-right: 0.3125rem;
}

.top-footer__ul {
  margin-bottom: 2.5rem;
}

.top-footer__ul li:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.top-footer__ul li:first-child {
  color: #000;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3333333333;
}

.top-footer__ul li:first-child a {
  color: inherit;
}

.top-footer__link {
  color: #666F78;
}

@supports (font-size: clamp( 0.75rem , 0.7137023593rem  +  0.1814882033vw , 0.875rem )) {
  .top-footer__link {
    font-size: clamp( 0.75rem , 0.7137023593rem  +  0.1814882033vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7137023593rem  +  0.1814882033vw , 0.875rem )) {
  .top-footer__link {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 68.875);
  }
}

.bottom-footer__title {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  color: #BF5002;
  margin-right: 50px;
}

.bottom-footer__social {
  display: inline-block;
}

.bottom-footer__social a {
  display: inline-block;
}

.bottom-footer__social a:not(:last-child) {
  margin-right: 2.1875rem;
}

.bottom-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5625rem;
}

.bottom-footer__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 1rem;
}

.bottom-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.bottom-footer__dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-footer__dev span {
  margin-right: 10px;
}

.bottom-footer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (margin-top: clamp( 3.5rem , 3.3548094374rem  +  0.7259528131vw , 4rem )) {
  .page__banner {
    margin-top: clamp( 3.5rem , 3.3548094374rem  +  0.7259528131vw , 4rem );
  }
}

@supports not (margin-top: clamp( 3.5rem , 3.3548094374rem  +  0.7259528131vw , 4rem )) {
  .page__banner {
    margin-top: calc(3.5rem + 0.5 * (100vw - 20rem) / 68.875);
  }
}

.banner__container img {
  width: 100%;
}

.popular__title {
  margin-top: 4.75rem;
  font-weight: 700;
  text-align: center;
  line-height: 0.8571428571;
}

@supports (font-size: clamp( 2rem , 1.7096188748rem  +  1.4519056261vw , 3rem )) {
  .popular__title {
    font-size: clamp( 2rem , 1.7096188748rem  +  1.4519056261vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.7096188748rem  +  1.4519056261vw , 3rem )) {
  .popular__title {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 68.875);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.1087794918rem  +  2.2686025408vw , 3.125rem )) {
  .popular__title {
    padding-bottom: clamp( 1.5625rem , 1.1087794918rem  +  2.2686025408vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.1087794918rem  +  2.2686025408vw , 3.125rem )) {
  .popular__title {
    padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 68.875);
  }
}

.popular__swiper {
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.popular__item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 47.4272930649% auto;
  grid-template-columns: 47.4272930649% auto;
  gap: 0.9375rem;
}

.house-popular_text {
  font-weight: 600;
  color: #BF5002;
}

.house-popular__img img {
  width: 100%;
  height: auto;
}

.house-popular__content {
  overflow: hidden;
}

.house-popular__title {
  font-weight: 700;
  line-height: 1.6363636364;
  margin: 0px 0px 5px 0px;
}

@supports (font-size: clamp( 1.125rem , 1.0524047187rem  +  0.3629764065vw , 1.375rem )) {
  .house-popular__title {
    font-size: clamp( 1.125rem , 1.0524047187rem  +  0.3629764065vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0524047187rem  +  0.3629764065vw , 1.375rem )) {
  .house-popular__title {
    font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 68.875);
  }
}

.house-popular__subtitle {
  margin: 0px 0px 8px 0px;
  font-weight: 600;
  line-height: 1.5;
  overflow: hidden;
}

@supports (font-size: clamp( 0.875rem , 0.8387023593rem  +  0.1814882033vw , 1rem )) {
  .house-popular__subtitle {
    font-size: clamp( 0.875rem , 0.8387023593rem  +  0.1814882033vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8387023593rem  +  0.1814882033vw , 1rem )) {
  .house-popular__subtitle {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 68.875);
  }
}

.house-popular__text {
  font-weight: 400;
  line-height: 1.7142857143;
  color: #666F78;
}

@supports (font-size: clamp( 0.75rem , 0.7137023593rem  +  0.1814882033vw , 0.875rem )) {
  .house-popular__text {
    font-size: clamp( 0.75rem , 0.7137023593rem  +  0.1814882033vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7137023593rem  +  0.1814882033vw , 0.875rem )) {
  .house-popular__text {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 68.875);
  }
}

/*=========infrastructure========*/

@supports (margin-top: clamp( 2.1875rem , 1.189314882rem  +  4.9909255898vw , 5.625rem )) {
  .page__infrastructure {
    margin-top: clamp( 2.1875rem , 1.189314882rem  +  4.9909255898vw , 5.625rem );
  }
}

@supports not (margin-top: clamp( 2.1875rem , 1.189314882rem  +  4.9909255898vw , 5.625rem )) {
  .page__infrastructure {
    margin-top: calc(2.1875rem + 3.4375 * (100vw - 20rem) / 68.875);
  }
}

.tabs__title {
  font-weight: 600;
  line-height: 1.5;
}

@supports (margin-right: clamp( 1.25rem , 0.8870235935rem  +  1.8148820327vw , 2.5rem )) {
  .tabs__title:not(:last-child) {
    margin-right: clamp( 1.25rem , 0.8870235935rem  +  1.8148820327vw , 2.5rem );
  }
}

@supports not (margin-right: clamp( 1.25rem , 0.8870235935rem  +  1.8148820327vw , 2.5rem )) {
  .tabs__title:not(:last-child) {
    margin-right: calc(1.25rem + 1.25 * (100vw - 20rem) / 68.875);
  }
}

@supports (font-size: clamp( 1.125rem , 1.016107078rem  +  0.5444646098vw , 1.5rem )) {
  .tabs__title {
    font-size: clamp( 1.125rem , 1.016107078rem  +  0.5444646098vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.016107078rem  +  0.5444646098vw , 1.5rem )) {
  .tabs__title {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 68.875);
  }
}

@supports (margin-top: clamp( 1.25rem , 0.8870235935rem  +  1.8148820327vw , 2.5rem )) {
  .tabs__content {
    margin-top: clamp( 1.25rem , 0.8870235935rem  +  1.8148820327vw , 2.5rem );
  }
}

@supports not (margin-top: clamp( 1.25rem , 0.8870235935rem  +  1.8148820327vw , 2.5rem )) {
  .tabs__content {
    margin-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 68.875);
  }
}

.tabs__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
  grid-template-columns: repeat(6, auto);
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

@supports (gap: clamp( 1rem , 0.8548094374rem  +  0.7259528131vw , 1.5rem )) {
  .tabs__grid {
    gap: clamp( 1rem , 0.8548094374rem  +  0.7259528131vw , 1.5rem );
  }
}

@supports not (gap: clamp( 1rem , 0.8548094374rem  +  0.7259528131vw , 1.5rem )) {
  .tabs__grid {
    gap: calc(1rem + 0.5 * (100vw - 20rem) / 68.875);
  }
}

.tabs__grid_03 {
  -ms-grid-columns: (auto)[3];
  grid-template-columns: repeat(3, auto);
}

.tabs__img {
  position: relative;
}

.tabs__img img {
  max-width: 100%;
  height: auto;
}

.tabs__img_01 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.tabs__img_02 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
}

.tabs__img_03 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
}

.tabs__img_04 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 7;
}

.tabs__img span {
  position: absolute;
  left: 6.9506726457%;
  bottom: 7.6233183857%;
  color: white;
  line-height: 1.2083333333;
  font-weight: 600;
}

@supports (font-size: clamp( 0.875rem , 0.6935117967rem  +  0.9074410163vw , 1.5rem )) {
  .tabs__img span {
    font-size: clamp( 0.875rem , 0.6935117967rem  +  0.9074410163vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6935117967rem  +  0.9074410163vw , 1.5rem )) {
  .tabs__img span {
    font-size: calc(0.875rem + 0.625 * (100vw - 20rem) / 68.875);
  }
}

._tab-active {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #BF5002;
}

/*=================MAP=============*/

.page__map {
  margin-top: 2.5rem;
}

.map__container {
  position: relative;
}

.map__title {
  position: absolute;
  z-index: 2;
  top: 1.457507%;
  left: 3.3045977011%;
  color: #333333;
  font-weight: 700;
  line-height: 1.2083333333;
}

@supports (font-size: clamp( 2rem , 1.7096188748rem  +  1.4519056261vw , 3rem )) {
  .map__title {
    font-size: clamp( 2rem , 1.7096188748rem  +  1.4519056261vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.7096188748rem  +  1.4519056261vw , 3rem )) {
  .map__title {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 68.875);
  }
}

.map__tour {
  position: absolute;
  z-index: 2;
  top: 14.664023%;
  left: 3.3045977011%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

@supports (margin-right: clamp( 0.375rem , 0.3024047187rem  +  0.3629764065vw , 0.625rem )) {
  .map__tour::before {
    margin-right: clamp( 0.375rem , 0.3024047187rem  +  0.3629764065vw , 0.625rem );
  }
}

@supports not (margin-right: clamp( 0.375rem , 0.3024047187rem  +  0.3629764065vw , 0.625rem )) {
  .map__tour::before {
    margin-right: calc(0.375rem + 0.25 * (100vw - 20rem) / 68.875);
  }
}

.map__img {
  overflow: auto;
  position: relative;
}

.map__tips {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map__tip {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
}

.map__tip_1 {
  top: 46.6%;
  left: 53.9%;
  background-color: red;
}

.map__tip_2 {
  top: 62%;
  left: 37%;
  background-color: blue;
  width: 45px;
  height: 45px;
}

.map__tip_3 {
  top: 26%;
  left: 69.5%;
  background-color: green;
}

.map__house {
  position: absolute;
  max-width: 468px;
  right: -100%;
  top: 0;
  -webkit-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
}

.map__house._active {
  right: 0;
}

.house__item {
  position: relative;
  z-index: 5;
  background: #FAFAFB;
  border-radius: 0px 20px 20px 0px;
  padding: 48px 0px 16px 48px;
}

.house__item._close-open {
  display: none;
}

.house__slider {
  position: relative;
}

.house__slide-img img {
  min-width: 100%;
  height: auto;
}

.house__pagination span {
  margin: 0px 6px !important;
}

.house__content {
  margin-top: 1.875rem;
  padding-right: 42px;
  margin-bottom: 30px;
}

.house__tabs {
  padding-right: 42px;
}

.house__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.house__arrow {
  position: absolute;
  cursor: pointer;
  top: 40%;
  color: #BF5002;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

@supports (width: clamp( 1.25rem , 0.5966424682rem  +  3.2667876588vw , 3.5rem )) {
  .house__arrow {
    width: clamp( 1.25rem , 0.5966424682rem  +  3.2667876588vw , 3.5rem );
  }
}

@supports not (width: clamp( 1.25rem , 0.5966424682rem  +  3.2667876588vw , 3.5rem )) {
  .house__arrow {
    width: calc(1.25rem + 2.25 * (100vw - 20rem) / 68.875);
  }
}

@supports (height: clamp( 1.25rem , 0.5966424682rem  +  3.2667876588vw , 3.5rem )) {
  .house__arrow {
    height: clamp( 1.25rem , 0.5966424682rem  +  3.2667876588vw , 3.5rem );
  }
}

@supports not (height: clamp( 1.25rem , 0.5966424682rem  +  3.2667876588vw , 3.5rem )) {
  .house__arrow {
    height: calc(1.25rem + 2.25 * (100vw - 20rem) / 68.875);
  }
}

.house__arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tabs-house__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #E6E6E6;
  padding: 15px 42px;
  margin: 0px -42px;
}

.tabs-house__data {
  line-height: 1.5;
  margin-bottom: 5px;
}

.tabs-house__btn {
  padding: 16px;
}

.tabs-house__btn::before {
  font-size: 8px;
}

/*=====MAIL==============*/

.page__mail {
  background: #BF5002;
}

.mail-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

@supports (margin-top: clamp( 3.75rem , 3.0240471869rem  +  3.6297640653vw , 6.25rem )) {
  .mail-page__item {
    margin-top: clamp( 3.75rem , 3.0240471869rem  +  3.6297640653vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 3.75rem , 3.0240471869rem  +  3.6297640653vw , 6.25rem )) {
  .mail-page__item {
    margin-top: calc(3.75rem + 2.5 * (100vw - 20rem) / 68.875);
  }
}

@supports (gap: clamp( 1.5625rem , 1.1995235935rem  +  1.8148820327vw , 2.8125rem )) {
  .mail-page__item {
    gap: clamp( 1.5625rem , 1.1995235935rem  +  1.8148820327vw , 2.8125rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 1.1995235935rem  +  1.8148820327vw , 2.8125rem )) {
  .mail-page__item {
    gap: calc(1.5625rem + 1.25 * (100vw - 20rem) / 68.875);
  }
}

.mail-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail-page__logo {
  display: inline-block;
  margin-right: 25px;
}

@supports (font-size: clamp( 2.5rem , 2.3548094374rem  +  0.7259528131vw , 3rem )) {
  .mail-page__logo {
    font-size: clamp( 2.5rem , 2.3548094374rem  +  0.7259528131vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 2.3548094374rem  +  0.7259528131vw , 3rem )) {
  .mail-page__logo {
    font-size: calc(2.5rem + 0.5 * (100vw - 20rem) / 68.875);
  }
}

.mail-page__text {
  font-weight: 600;
  line-height: 1.2083333333;
}

@supports (font-size: clamp( 1.125rem , 1.016107078rem  +  0.5444646098vw , 1.5rem )) {
  .mail-page__text {
    font-size: clamp( 1.125rem , 1.016107078rem  +  0.5444646098vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.016107078rem  +  0.5444646098vw , 1.5rem )) {
  .mail-page__text {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 68.875);
  }
}

.mail-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
}

.mail-page__input {
  width: 416px;
  padding: 1rem;
  color: white;
  background: #BF5002;
  font-weight: 500;
  line-height: 1.5;
  border: 1px solid white;
  border-radius: 10px 0 0 10px;
}

@supports (font-size: clamp( 0.875rem , 0.8387023593rem  +  0.1814882033vw , 1rem )) {
  .mail-page__input {
    font-size: clamp( 0.875rem , 0.8387023593rem  +  0.1814882033vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8387023593rem  +  0.1814882033vw , 1rem )) {
  .mail-page__input {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 68.875);
  }
}

.mail-page__button {
  color: #BF5002;
  background: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3333333333;
  border-radius: 0 10px 10px 0;
  padding: 1rem 32px 1rem 32px;
}

/*==========REVIEW===========*/

@supports (margin-top: clamp( 3.125rem , 2.2175589837rem  +  4.5372050817vw , 6.25rem )) {
  .page__review {
    margin-top: clamp( 3.125rem , 2.2175589837rem  +  4.5372050817vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 3.125rem , 2.2175589837rem  +  4.5372050817vw , 6.25rem )) {
  .page__review {
    margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 68.875);
  }
}

.review__title {
  color: #333333;
  font-weight: 700;
  line-height: 1.1666666667;
}

@supports (font-size: clamp( 2rem , 1.7096188748rem  +  1.4519056261vw , 3rem )) {
  .review__title {
    font-size: clamp( 2rem , 1.7096188748rem  +  1.4519056261vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.7096188748rem  +  1.4519056261vw , 3rem )) {
  .review__title {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 68.875);
  }
}

.review__content {
  position: relative;
}

@supports (margin-top: clamp( 2.5rem , 2.3185117967rem  +  0.9074410163vw , 3.125rem )) {
  .review__content {
    margin-top: clamp( 2.5rem , 2.3185117967rem  +  0.9074410163vw , 3.125rem );
  }
}

@supports not (margin-top: clamp( 2.5rem , 2.3185117967rem  +  0.9074410163vw , 3.125rem )) {
  .review__content {
    margin-top: calc(2.5rem + 0.625 * (100vw - 20rem) / 68.875);
  }
}

.review__slider {
  padding: 10px;
  margin: -10px;
}

.review__slide {
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
  padding: 40px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.review__dimmer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 71px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.77%, #FFFFFF), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, #FFFFFF 31.77%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, #FFFFFF 31.77%, rgba(255, 255, 255, 0) 100%);
}

.review__text {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
  line-height: 1.5;
}

@supports (font-size: clamp( 0.875rem , 0.8387023593rem  +  0.1814882033vw , 1rem )) {
  .review__text {
    font-size: clamp( 0.875rem , 0.8387023593rem  +  0.1814882033vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8387023593rem  +  0.1814882033vw , 1rem )) {
  .review__text {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 68.875);
  }
}

.review__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666F78;
}

.review__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  overflow: hidden;
  font-weight: 600;
  white-space: nowrap;
  line-height: 1.5;
}

@supports (font-size: clamp( 0.75rem , 0.7137023593rem  +  0.1814882033vw , 0.875rem )) {
  .review__name {
    font-size: clamp( 0.75rem , 0.7137023593rem  +  0.1814882033vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7137023593rem  +  0.1814882033vw , 0.875rem )) {
  .review__name {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 68.875);
  }
}

.review__date {
  font-weight: 400;
  line-height: 1.7142857143;
}

@supports (font-size: clamp( 0.75rem , 0.7137023593rem  +  0.1814882033vw , 0.875rem )) {
  .review__date {
    font-size: clamp( 0.75rem , 0.7137023593rem  +  0.1814882033vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7137023593rem  +  0.1814882033vw , 0.875rem )) {
  .review__date {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 68.875);
  }
}

.review__arrows_review {
  width: calc(100% + 60px);
  -ms-grid-columns: (60px)[2];
  grid-template-columns: repeat(2, 60px);
  height: 60px;
  left: -30px;
}

.review__dots {
  margin-top: 20px;
}

.review__arrow_header {
  background: white;
}

.review__arrow_map {
  background: white;
}

/*============MAP==========*/

.page__adress {
  position: relative;
}

@supports (margin-top: clamp( 4.875rem , 4.4757259528rem  +  1.9963702359vw , 6.25rem )) {
  .page__adress {
    margin-top: clamp( 4.875rem , 4.4757259528rem  +  1.9963702359vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 4.875rem , 4.4757259528rem  +  1.9963702359vw , 6.25rem )) {
  .page__adress {
    margin-top: calc(4.875rem + 1.375 * (100vw - 20rem) / 68.875);
  }
}

.adress__city {
  position: absolute;
  left: 15%;
  top: 5%;
  z-index: 2;
  background: white;
  border-radius: 10px;
}

.adress__content {
  position: absolute;
  background: white;
  left: 15%;
  bottom: 10%;
  display: inline-block;
  width: 23rem;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
  border-radius: 10px;
  z-index: 2;
}

.city-adress__items {
  top: 5%;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 10px;
}

.city-adress__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 10px 0 0 10px;
}

.city-adress__item:last-child {
  padding-left: 24px;
  border-radius: 0 10px 10px 0;
}

.city-adress__item._active {
  background: #BF5002;
  color: white;
}

.city-adress__item:hover {
  background: #BF5002;
  color: white;
}

.city-adress__text {
  margin-left: 8px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3333333333;
}

.content-adress__item {
  padding: 2.1875rem;
}

.content-adress__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.3333333333;
}

.content-adress__text {
  padding: 24px 0px 30px 0px;
  font-weight: 400;
  line-height: 1.5;
}

@supports (font-size: clamp( 0.75rem , 0.6774047187rem  +  0.3629764065vw , 1rem )) {
  .content-adress__text {
    font-size: clamp( 0.75rem , 0.6774047187rem  +  0.3629764065vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6774047187rem  +  0.3629764065vw , 1rem )) {
  .content-adress__text {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 68.875);
  }
}

.content-adress__choords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}

.content-adress__choords span {
  font-weight: 600;
}

.content-adress__copy::before {
  color: #BF5002;
}

.adresss__body {
  width: 100%;
  height: 576px;
}

.ymaps-2-1-79-control-popup__layout,
.ymaps-2-1-79-control-popup__content {
  display: none !important;
}

.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background: #FFFFFF;
  /* Shadow */
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
  border-radius: 10px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  outline: 0;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, -webkit-transform;
  -o-transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity, -webkit-transform;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
       -o-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
          transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: transparent;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .header__mobilebg {
    display: none;
  }
}

@media (min-width: 47.99875em) {
  .header__pagination-swiper {
    display: none;
  }

  .milde-header__button {
    display: none;
  }

  .popular__slide:last-child {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .popular__swiper {
    display: -ms-grid !important;
    display: grid !important;
        grid-template-areas: "a b" "c c";
  }

@supports (gap: clamp( 0.0000000625rem , -0.4355716072rem  +  2.1778583485vw , 1.5rem )) {
    .popular__swiper {
      gap: clamp( 0.0000000625rem , -0.4355716072rem  +  2.1778583485vw , 1.5rem );
    }
}

@supports not (gap: clamp( 0.0000000625rem , -0.4355716072rem  +  2.1778583485vw , 1.5rem )) {
    .popular__swiper {
      gap: calc(0.0000000625rem + 1.4999999375 * (100vw - 20rem) / 68.875);
    }
}

  .house-popular__img {
    -ms-grid-column-align: end;
        justify-self: end;
  }

  #gridrows {
    -ms-grid-column: initial;
        grid-column-start: initial;
  }

  .map__img img {
    max-width: 100%;
    height: auto;
  }

  .house__pagination {
    display: none;
  }

  .review__arrows_header {
    width: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-grid-columns: (50px)[2];
    grid-template-columns: repeat(2, 50px);
    height: 50px;
  }

  .review__arrows_map {
    width: 21%;
    right: 22%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-grid-columns: (40px)[2];
    grid-template-columns: repeat(2, 40px);
    height: 40px;
  }

  .review__dots {
    display: none;
  }
}

@media (max-width: 1210px) {
  .milde-header__shops-item a {
    display: none;
  }
}

@media (max-width: 88.875em) {
  .contacts-header-top span {
    display: none;
  }

  .popular__swiper {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .review__arrows_review {
    width: calc(100% + 20px);
    left: -10px;
  }
}

@media (max-width: 68.75em) {
  .bottom-footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 61.99875em) {
  .header__midle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__top {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .bottom-footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .bottom-footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
  }

  .bottom-footer__list li:first-child {
    margin-bottom: 10px;
  }

  .mail-page__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 22px 0px;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    margin-top: 0;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .header__top {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 1.875rem;
    padding: 0px 16px;
  }

  .header__midle {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 16px;
  }

  .header__bottom {
    position: static;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header-top__pages {
    margin-top: 8px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 100%;
    overflow-x: auto;
  }

  .header-top__pages::-webkit-scrollbar {
    display: none;
  }

  .header-top__center {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header-top__center span {
    padding: 8px 0px;
  }

  .center-header__item_last {
    -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  .center-header__link {
    margin-left: 16px;
  }

  .center-header__link_lk {
    margin-left: 0;
  }

  .center-header__link_cirkle {
    display: none;
  }

  .contacts-header-top span {
    display: block;
  }

  .milde-header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0;
            flex: 1 0;
  }

  .milde-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background: white;
    padding: 3.53375rem 0rem 3.125rem 0rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 4;
  }

  .milde-header__list::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 57px;
    left: -100%;
    top: 0;
    background-color: white;
  }

  .milde-header__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0 !important;
    padding: 12px 0px;
  }

  .menu-open .milde-header__list {
    left: 0;
  }

  .menu-open .milde-header__list::before {
    left: 0;
  }

  .milde-header__item:nth-child(2n+1) {
    -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(0, 0, 0, 0.1);
  }

  .milde-header__item:last-child {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .milde-header__sublist {
    position: relative;
    width: 100%;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }

  .milde-header__link {
    margin-left: 1rem;
    font-weight: 600;
    line-height: 1.5;
  }

  .bottom-header {
    padding: 16px 16px;
  }

  .bottom-header__transfer {
    padding: 16px 16px 16px 0px;
    width: 100%;
  }

  .bottom-header__human {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-shadow: inset 0px 1px 0px #E3E1E1;
            box-shadow: inset 0px 1px 0px #E3E1E1;
    width: 100%;
  }

  .bottom-header__book {
    width: 100%;
    border-radius: 10px;
  }

  .human__data {
    -webkit-box-flex: 1;
        -ms-flex: 1 0;
            flex: 1 0;
  }

  .burger-menu-shadow {
    -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  .headers__arrows {
    display: none;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 0.84375rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
    margin-right: 10px;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
    border-radius: 30%;
  }

  .icon-menu::before {
    top: 0;
    width: 0.5625rem;
  }

  .icon-menu::after {
    bottom: 0;
    width: 1.125rem;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    width: 1.125rem;
    border-radius: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__top {
    display: none;
  }

  .footer__bottom {
    margin-top: 0;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 2;
  }

  .bottom-footer__title {
    display: none;
  }

  .bottom-footer__list {
    display: block;
    text-align: center;
  }

  .bottom-footer__list li {
    display: inline-block;
  }

  .popular__title {
    margin-top: 2.5rem;
  }

  .popular__item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .house-popular__text {
    font-weight: 500;
  }

  .map__title {
    position: initial;
    text-align: center;
    margin-bottom: 2.375rem;
  }

  .map__tour {
    font-size: 16px;
    line-height: 1;
    top: 4.5%;
    left: 4.5%;
  }

  .map__img img {
    height: 430px;
  }

  .map__house {
    position: relative;
    right: 0;
    min-width: 100%;
    margin-top: 1.5625rem;
  }

  .house__item {
    padding: 0px 0px 0px 0px;
    background: white;
  }

  .house__slider {
    overflow: initial !important;
  }

  .house__controls {
    margin-top: 1rem;
  }

  .house__content {
    margin-top: 1.25rem;
    padding-right: 0;
  }

  .house__tabs {
    padding-right: 0;
  }

  .house__arrows {
    display: none;
  }

  .tabs-house__item {
    background: #F0F4F5;
  }

  .tabs-house__content {
    font-size: 0.875rem;
  }

  .mail-page__logo {
    margin-right: 10px;
  }

  .mail-page__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
    width: 100%;
  }

  .mail-page__input {
    border-radius: 10px;
    width: 100%;
  }

  .mail-page__button {
    border-radius: 10px;
  }

  .review__title {
    line-height: 1.3125;
  }

  .review__slide {
    padding: 20px 16px;
  }

  .review__text {
    font-weight: 500;
  }

  .review__name {
    line-height: 1.3333333333;
  }

  .review__date {
    font-weight: 500;
    line-height: 1.3333333333;
  }

  .review__arrows_review {
    display: none;
  }

  .adress__city {
    width: 90%;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    top: -5%;
  }

  .adress__content {
    width: 90%;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    bottom: 55%;
  }

  .city-adress__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .city-adress__item {
    padding: 12px 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px 10px 0 0;
  }

  .city-adress__item:last-child {
    border-radius: 0 0 10px 10px;
  }

  .city-adress__text {
    font-size: 0.875rem;
  }

  .content-adress__item {
    padding: 1.375rem;
  }

  .content-adress__title {
    font-size: 1rem;
    line-height: 1.5;
  }

  .content-adress__text {
    padding: 5px 0px 18px 0px;
    line-height: 1.3333333333;
  }
}

@media (max-width: 47.99875em) and (max-width: 47.99875em) {
  .milde-header__list li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.9375em) {
  .bottom-header__transfer {
    width: inherit;
  }
}

@media (max-width: 29.99875em) {
  .header__slide-img {
    padding-bottom: 122.5%;
  }

  .human__data * {
    display: none;
  }

  .human__data :first-child {
    display: inline-block !important;
  }
}